
body {
    background-size: cover;
    background-repeat: no-repeat;  
    background-position: top center;
    background-attachment: fixed;
    background-color: aliceblue;
}

article {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #dddd;
}

 p {
    font-size: larger;
    font-family: normal;
    font-weight: 400;
    color: #000000;
    margin: 10px;
 }



 header {
    padding: 20px;
    margin: 0;
    padding: 0;
 }
 
 footer, nav {
    color: darkblue;
    padding: 20px;
    margin: 20px;
 }


 main, section {
    background-color: transparent;
 }
 

nav {
    padding: 30px;
    background-position: top;
    text-align: center;
    background-color: lightblue;
    margin-top: 30px;
    
}

/*Arrange the list items horizontally*/
nav ul {
    display: flex;
    list-style-type: none;
    justify-content: space-evenly;
    align-items: center;
    gap: 25px;
    padding: 0;
    margin: 0;
}

h1, h2, h3, h4, h5, h6 {
    text-align: center;
    color: darkblue;
    padding: 10px;
    margin-top: 20px;
    font-weight: bold;
    font-size: 36px;
}


 h6 {
    margin-bottom: 0;
 }

h6 p {
    margin-top: 0;
    padding: 0;
}

/* Add spacing between the link*/
nav ul li {
    margin: 0 15px;

}

/*Style the links*/
nav ul li a {
    text-decoration: none;
    font-weight: bold;
    color: darkblue;
    font-size: 20px;
    justify-content: space-between;
      
}


nav ul li a:hover {
    color: steelblue; 

}

table {
    margin-top: 20px;
    width: 100%;
    border-collapse: collapse;
    text-align: left;
    background-color: lightblue;
}

th, td {
    padding: 10px;
    border: 1px solid #000000;
}

footer {
    text-align: center;
    font-size: large;
}

 .visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    overflow: hidden;
    clip-path: inset(0 0 0 0);
    border: 0;
    display: none;
}

 a:visited {
    color: darkblue;
 }

 a:link {
    color: darkblue;
    text-decoration: none;
 }

 .custom-heading {
    font-size: 36px;
    font-weight: bold;
 }

 figure {
    text-align: center;
    margin: 20px 0;
 }

 figure img {
    width: 250px;
    height: auto;
    border-color: #000000;
    transition: transform 0.3s ease;
 }
 
 figure img:hover {
    transform: scale(1.05);
}
  
 figcaption {
    margin-top: 8px;
    font-size: 14px;
    color: blue;
 }
 