
 body {
    background-image: url(seashore.jpg);
    background-size: cover;
    background-repeat: no-repeat;  
    background-position: top center;
    background-attachment: fixed;
}
 

nav {
    padding: 30px;
    background-position: top;
    display: flex;
    justify-content: space-evenly;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    width: 100%;
}

nav ul li {
    flex: 1;
    text-align: center;
}

nav ul li a {
    text-decoration: none;
    font-weight: bold;
    color: black;
    font-size: 18px;
    padding: 10px 15px;
    display: inline-block;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    background-color: rgba(50, 42, 165, 0.336);   

}

h1 {
    text-align: center;
    background-color:silver;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px;
}


th td {
    padding: 10px;
    text-align: center;
    border: 1px solid #ddd;
}

th {
    background-color: aliceblue;
}

td {
    vertical-align: middle;
}

.product-image {
    width: 100px
    
     
}

@media (max-width:768px) {
    table {
        font-size: 14px;
    }

    td th {
        padding: 8px;

    }

    .product-image {
        width: 80px;
    }