
  {
    margin:0;
    padding:0;
    box-sizing:border-box
 }
 
 body {
    background-image: url(seashore.jpg);
    background-size: cover;
    background-repeat: no-repeat;  
    background-position: top center;
    background-attachment: fixed;
}
 

nav {
    padding: 30px;
    background-position: top;
    display: flex;
    justify-content: space-evenly;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 30px;
    background-color: antiquewhite;
    display: flex;
    width: 100%;
}

nav ul li {
    flex: 1;
    text-align: center;
}

nav ul li a {
    text-decoration: none;
    font-weight: bold;
    color: black;
    font-size: 18px;
    padding: 10px 15px;
    display: inline-block;
    transition: color 0.3s ease;
    text-align: top center;
}

nav ul li a:hover {
    background-color: rgba(50, 42, 165, 0.336);   

}

h1 {
    text-align: center;
    background-color: antiquewhite;
    padding: 20px;
    margin-top: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    text-align: left;
}

th, td {
    padding: 10px;
    border: 1px solid #000000;
}

td img {
    width: 100px;
    height: auto;
    max-width: 100%;
}

tr, .bold-row {
    font-weight: bold;
}